{% extends 'base.html' %}

{% block title %}О сайте{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{%endblock %}

{% block main_content %}
<div style="margin-left: 15%; width: 70%;">
        <h2>Здравствуйте {{ user_form.username }}</h2>
        <p>Каждый день вы сталкиваетесь с десятками задач, но запоминть все, не удастся.
            Здесь поможем мы.
            Данный сайт помогает вам делать заметки( ставить задачи, таски) онлайн и следить за тем, что выполнено а что нет.</p>
        <p>Вы можете удалить задачу нажав на <i class="material-icons">delete</i></p>
        <p>Нажав на какую либо задачу, вы перейдете в "свойства" задачи. Там же вы можете редактировать свою задачу
        по соответствующей ссылке.</p>
        <p>В меню (в верхнем левом углу) вы найдете несколько ссылок, а именно: </p>
        <ul>
            <li>(Задачи) Для просмотра всех существующих заметок(задач)</li>
            <li>(Добавить задачу) Для добавления какой либо задачи</li>
            <li>(Сменить пароль) Также вы можете поменять пароль вашего нынешнего аккаунта</li>
            <li>(Выйти) А также, вы можете выйти с учетной записи и, например, войти с другого аккаунта :)</li>
        </ul>


        <p>На всякий случай оставлю ссылки для регистрации и входа в акканут:</p>
        <li><a href="{% url 'register' %}">Зарегистрироваться</a></li>
        <li><a href="{% url 'login' %}">Залогиниться</a></li>
    <hr>
        <p>
            По всем вопросам и рекомендациям обращаться в Телеграмм <a href="https://t.me/samadov_09">t.me/samadov_09</a>
        </p>

</div>
{% endblock %}